USE [sucos_vendas]
GO
/****** Object:  Table [dbo].[tabela de clientes]    Script Date: 28/09/2026 22:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabela de clientes](
	[cpf] [char](11) NOT NULL,
	[nome] [varchar](150) NULL,
	[rua] [varchar](150) NULL,
	[complemento] [varchar](150) NULL,
	[bairro] [varchar](150) NULL,
	[estado] [char](150) NULL,
	[cep] [varchar](150) NULL,
	[data de nascimento] [date] NULL,
	[idade] [smallint] NULL,
	[sexo] [char](1) NULL,
	[limite do credito] [money] NULL,
	[volume minimo] [float] NULL,
	[primeira compra] [bit] NULL,
 CONSTRAINT [pk_tabela_cliente] PRIMARY KEY CLUSTERED 
(
	[cpf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tabela de produtos]    Script Date: 28/09/2026 22:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tabela de produtos](
	[codigo do produto] [varchar](20) NOT NULL,
	[nome do produto] [varchar](50) NULL,
	[embalagem] [varchar](50) NULL,
	[tamanho] [varchar](50) NULL,
	[sabor] [varchar](50) NULL,
	[preco de lista] [smallmoney] NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo do produto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tabela de clientes] ([cpf], [nome], [rua], [complemento], [bairro], [estado], [cep], [data de nascimento], [idade], [sexo], [limite do credito], [volume minimo], [primeira compra]) VALUES (N'00384393431', N'João da Silva', N'Rua Projetada A', N'Número 233', N'Copacabana', N'RJ                                                                                                                                                    ', N'20000000', CAST(N'1965-03-21' AS Date), 57, N'M', 20000000.0000, 3000.3, 1)
INSERT [dbo].[tabela de clientes] ([cpf], [nome], [rua], [complemento], [bairro], [estado], [cep], [data de nascimento], [idade], [sexo], [limite do credito], [volume minimo], [primeira compra]) VALUES (N'00384393555', N'Maria Clara', N'Rua Projetada A', N'Número 233', N'Copacabana', N'RJ                                                                                                                                                    ', N'20000000', CAST(N'1975-03-21' AS Date), 47, N'F', 200000.0000, 3000.3, 0)
GO
INSERT [dbo].[tabela de produtos] ([codigo do produto], [nome do produto], [embalagem], [tamanho], [sabor], [preco de lista]) VALUES (N'1000889', N'Sabor da Montanha 700 ml Uva', N'Garrafa', N'700 ml', N'Uva', 6.3100)
INSERT [dbo].[tabela de produtos] ([codigo do produto], [nome do produto], [embalagem], [tamanho], [sabor], [preco de lista]) VALUES (N'1004327', N'Videira do Campo - 1,5 Litros Melancia', N'PET', N'1,5 Litros', N'Melancia', 19.5100)
INSERT [dbo].[tabela de produtos] ([codigo do produto], [nome do produto], [embalagem], [tamanho], [sabor], [preco de lista]) VALUES (N'1037797', N'Clean 2 Litros Laranja', N'PET', N'2 Litros', N'Laranja', 16.0100)
GO
